.container, a {
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
    flex-direction: column;
    flex-flow: row wrap;
    row-gap: 50px;
    column-gap: 30px;
    background-color: #1f2937;
    color: white;
    
}

.containerTwo {
    display: flex;
    align-items: center;
}

.siteDescription {
    display: flex;
    flex-direction: column;
    width: 500px;
    

}


.headerOne {
    display:flex;
    width: 300px;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}

.descriptPara {
    display:flex;
    width: 400px;
}

.descriptImage {
    display:flex;
    width: 500px;
    height: 250px;
    padding-right: 10px;
    align-self: center;
}

.signUpButton {
    display: flex;
    width: 100px;
    justify-content: center;
    background-color: #3882f6;
    
}

.subImage {
    display: flex;
    width: 150px;
    height: 150px;
}

h3 {
    display: flex;
    width: 200px;
}

header {
    display: flex;
    width: 1463px;
    height: 100px;
    justify-content: space-between;
    
}


ul {
    display: flex;
    gap: 25px;

}

a {
    display: flex;
    text-decoration: none;
    width: 150px;
    height: 100px;
}

li {
    list-style-type: none;

}