/* flexbox main-container one */
.container, a {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 100px;
    flex-direction: column;
    flex-flow: row wrap;
    row-gap: 50px;
    column-gap: 30px;
    background-color: #1f2937;
    color: white;
    font-family: 'Roboto', sans-serif;
    
}

/* flexbox main-container two */
.containerTwo {
    display: flex;
    height: 300px;
    justify-content: space-evenly;
    align-items: center;
    
}

/* flexbox main-container three */
.containerThree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    padding: 100px;

}

/* flexbox main-container four */
.containerFour {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 100px;

}

/*                   */
.siteDescription {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    
}

/*                   */
.headerOne {
    display:flex;
    font-size: 48px;
    font-weight: 900;
}

/*                   */
.descriptPara {
    display:flex;
    width: 400px;
}

/*                   */
.descriptImage {
    display:flex;
    width: 500px;
    height: 250px;
    padding-right: 10px;
    align-self: center;
}

/*                   */
.signUpButton {
    display: flex;
    width: 100px;
    justify-content: center;
    background-color: #3882f6;
    border-radius: 5px;
    color: white;
    
    
}

/*                   */
.subImage {
    display: flex;
    width: 150px;
    height: 150px;
    border: solid #3882f6;
    border-radius: 10%;

}

/*                   */
.imgTxt1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*                   */
.imgPara {
    display: flex;
    width: 150px;
    height: 150px;
    
}

/* styling for txt found under set of four smaller images. */
.picTxt {
    display: flex;
    font-style: italic;
    text-align: center;
}


.qouteSign {
    display: flex;
    width: fit-content;
    height: fit-content;
    align-self: end;
}


.leftCall{
    display: flex;
    flex-direction: column;
    width: 800px;
    background-color: #3882f6;
    border-radius: 20px;
}

/* footer flexbox */
.footerBox {
    display: flex;
    justify-content: center;
}

/*                   */
h3 {
    display: flex;
    align-self: flex-start;
    width: fit-content;
    height: fit-content;
    font-size: 24px;
    padding-left: 100px;
}

/*                   */
h2 {
    display: flex;
    justify-content: center;
    height: 75px;
    font-size: 36px;
    font-weight: 900;
    
}

/* Styling for header flexbox */
header {
    display: flex;
    flex-wrap: wrap;
    width: 1800px;
    height: 100px;
    justify-content: space-evenly;
    
}

/*                   */
ul {
    display: flex;
    width: fit-content;
    height: fit-content;
    gap: 25px;

}

/* styling for the header links */
a {
    display: flex;
    text-decoration: none;
    width: fit-content;
    height: fit-content;
    font-size: 18px;
    
}

/* Removes underline from header links */
li {
    list-style-type: none;

}